.sudeste path {
    fill: #00AEFF;
}
.sul path {
    fill: #0EAD8A;
}
.centroOeste path {
    fill: #3E4095;
}
.norte path {
    fill: #46C4DD;
}
.nordeste path {
    fill: #1588B1;
}

#svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
    cursor: pointer
}

#svg-map a {
    text-decoration: none
}

#svg-map a:hover {
    cursor: pointer;
    text-decoration: none
}

#svg-map a:hover path {
    fill: #003399 !important
}

#svg-map .circle {
    fill: #003399
}

#svg-map a:hover .circle {
    fill: #003399 !important;
    cursor: pointer
}